#install4j response file for Nexpose
#Wed Apr 01 02:06:10 UTC 2015
registrationRequired$Integer=1
sys.programGroupDisabled$Boolean=true
sys.installationDir=/opt/rapid7/nexpose
sys.languageId=en
company=example.com
username={{ nexpose_user }}
password1={{ nexpose_password }}
dbPort=5432
lastname=Administrator
port=5432
component=typical
proxyPort=
password2={{ nexpose_password }}
initService$Boolean=true
firstname=Nexpose
createDesktopLinkAction$Boolean=true
proxyHost=
sys.adminRights$Boolean=true
sys.component.engine$Boolean=false
sys.component.typical$Boolean=true
